.navigation,
.nav li ul li,
.nav li ul li a{
    background: #FF5300;
}

.nav li a,
.nav li ul li,
.nav li ul li a {
    -moz-transition: background-color 0.6s 0.0s ease;
    -o-transition: background-color 0.6s 0.0s ease;
    -webkit-transition: background-color 0.6s 0.0s ease;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.nav li a:hover,
.nav li ul li a:hover {
    color:#000;
    text-shadow: none;
}


/* Menu Item background color on hover */
.nav li a:hover,
.nav li ul li a:hover {
    background:  #3bdb19;
}



#out_in{
    position: relative;
    color: #3b98b0;
    right: 10px;
    top: 4px;
    float: right;
}

#user_container{
    position: relative;
    margin: 0;
    float: right;
}

.nav-bar{
    clear: both;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navigation {
    margin: 0 auto;

}

.navigation, .nav-bar {
    width: 100%;
    float: left;


}

.nav-bar, .navigation, .top-menu, .nav{
    max-height: 45px;
}

.menu-bar {
    width: 81%;
    margin:0 auto;
    padding:0;
    position: relative;
}

.nav{
    float: left;
    width: 100%;
    margin:0;
    padding:0;
    position: relative;
    font-family: 'Arial', Helvetica, sans-serif;
}

.nav li a,.nav li {
    float:left;
    z-index: 9999;
}

.nav li, #users_column li {
    list-style:none;
    position:relative;
}

.nav li a {
    line-max-height: 45px;
    padding:1.1vw;
    text-decoration:none;
    margin:0;
    font-weight:700;
    text-transform:uppercase;
}

/*====================
Подменю
=====================*/
.nav li ul {
    display:none;
    position:absolute;
    left:0;
    top:100%;
    padding:0;
    margin:0;

} /* стереть подменю */

.nav li:hover > ul {
    display:block;

} /* show submenu on hover */

.nav li ul li,.nav li ul li a {
    float:none;
    height: 35px; /* submenu item height */
    min-width: 150px; /* submenu item minimal width */
    line-height: 35px;
    border-right: 0;
    text-shadow: none;
    display:block;
    font-size:1em;
    font-weight:400;
    text-transform:inherit;
} /* Submenu item */

.nav li ul li {
    _display:inline; /* for IE */
}

/* == 12. Sub-Sub Menu == */
.nav li ul li ul {
    display:none;
}

.nav li ul li:hover ul {
    left:100%;
    top:0;
}
/* Переходы*/

.nav li a:hover,
.nav li ul li a:hover {
    -webkit-transition-property:color, background;
    -webkit-transition-duration: 0.5s, 0.5s;
    -webkit-transition-timing-function: linear, ease-out;
}

.searchfield:focus,
.searchfield:not(:focus){
    -webkit-transition-property:width;
    -webkit-transition-duration: 0.5s, 0.5s;
    -webkit-transition-timing-function: linear, ease-out;
}

.nav-bar:hover,
.navigation:hover,
.nav li ul a,
.menu_div,
.navigation,
.nav li a,
.nav-bar:not(:hover),
.navigation:not(:hover)
{
    -webkit-transition-property:opacity;
    -webkit-transition-duration: 0.5s, 0.5s; /* duration in seconds */
    -webkit-transition-timing-function: linear, ease-out;
} /* Анимация прозрачности */

.center {
    width: 100%;
    padding:0;
    position: relative;
}