html{
	height: 100%;
}

body{
	width: 98%;
	display:flex;
	flex-direction: column;
	height: 100%;
	margin:0 auto;
	padding:0;

}
header{
	font-size: 1.3vw;
    margin-top: 1%;
	box-shadow: 0px 0px 1px #555;
	max-height: 45px;
	width: 100%;
	background: #FF5300;
}

footer{
	flex-shrink: 0;
	 box-shadow: 0px 0px 1px #555;
	 max-height: 45px;
	 width: 100%;
	 background: #FF5300;
	 margin-top: 1%;
}

main{
	flex-grow: 1;
	margin-top: 1%;
}

* {
	font-family: 'Arial', Helvetica, sans-serif;
	margin:0;
	padding:0;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

button {
	cursor: pointer;
}

textarea {
	width: 100%;
}


a {
	text-decoration: underline;
	text-decoration: none;
}

a:link {

}

a:visited{

}

a:hover{
	text-decoration: none;
	background: linear-gradient(to bottom, #3bdb19, #e9e9ce); /* Градиент */


}

h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover{
	font-size:22px;

	text-align:left;
	margin-bottom:5px;
}

h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover{
	font-size:20px;

	text-shadow: 0 1px 1px #333;
	text-align:left;
	margin-bottom:5px;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover{
	font-size: 18px;
	text-align:left;
	color: 333;
}
h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover,h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover,h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover{
	font-size:16px;

	text-shadow: 0 1px 1px #333;
	text-align:left;
}

a img {
	border: none;
	width: 100%;
}

p img {
	margin:0;
	width: 10%;
	height: 10%;
}

p {
	margin: 0 0 10px 0;
	width: 10%;
	height: 10%;
}

img{
	width: 98%;
	margin: 0 2%;
}

input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
	cursor: pointer;
	border-style: none;
	float: right;
	border-radius: 50px;
	display: inline-block;
	padding: 5px 15px;
	background:  #3bdb19;
	color: #fff;
}

input[type="button" i]:hover, input[type="submit" i]:hover {
	color: #000;
}

#wrap_select{
    float:left;
}

select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: white;
    cursor: pointer;
    border-width: 0px;
    box-shadow: 0px 0px 1px #555;
    border-radius: 50px;
    display: block;
    padding: 2px 4px;
    outline: none;
    margin-right: 6px;
    float: left;
}

.a_button {
	float: right;
	border-radius: 50px;
	display: block;
	padding: 5px 15px; /* Поля */
	background:  #3bdb19;
	color: #fff;
	cursor: pointer;
}
.a_button:hover {
	background: linear-gradient(to bottom, #3bdb19, #e9e9ce); /* Градиент */
	font-family: 'Arial', Helvetica, sans-serif;
	cursor: pointer;
	color: #000;
}

.a_button_negative {
	border-radius: 50px;
	display: block;
	padding: 5px 15px; /* Поля */
	background-color: red;
	color: #fff;
}
.a_button_negative:hover {
	background: linear-gradient(to bottom, red, #e9e9ce); /* Градиент */
	font-family: 'Arial', Helvetica, sans-serif;
	cursor: pointer;
	color: #000;
}

.button-10 {
	min-width: 100px;
	width: 10%;
	display: block;
	padding: 5px 15px; /* Поля */
	background:  #3bdb19;
	color: #fff;
	cursor: pointer;
}
.button-10:hover {
	width: 10%;
	background: linear-gradient(to bottom, #3bdb19, #e9e9ce); /* Градиент */
	cursor: pointer;
	color: #000;
}

.button-10-negative {
	min-width: 100px;
	width: 10%;
	display: block;
	padding: 5px 15px; /* Поля */
	background-color: red;
	color: #fff;
}
.button-10-negative:hover {
	width: 10%;
	background: linear-gradient(to bottom, red, #e9e9ce); /* Градиент */
	cursor: pointer;
	color: #000;
}


.mymagicoverbox_fenetre {
	z-index:9999;
	text-align:center;
	display:none;
}

#filter{
	float: left;
    margin:0 auto;
    width: 100%;
	padding:0;
	position: relative;
    background: #FF5300;
    box-shadow: 0 1px 1px #555;
}
#location{
	float: left;
	margin:0;
	position: relative;
}
#add{
	position: relative;
	margin: 0;
	width: 10%;
	float: left;
}

.right_wrap {
	float: right;
	border-radius: 50px;
	display: inline-block;
	padding: 1px 1px; /* Поля */
	background:  #3bdb19;
	color: #fff;
}
.wrap_padding {
	padding: 5px 15px;
}

#left{
	float:left;
	width:29%;
	height: 100%;
}

#right {
	float:left;
	margin-left: 2%;
	width:69%;
	height: 100%;
}

#content30 {
	background: #fff;
	float:left;
	width:26%;
	box-shadow: 0px 0px 1px #555;
	padding: 2%;

}

#content70 {
	background: #fff;
	float:left;
	width:66%;
	box-shadow: 0px 0px 1px #555;
	padding: 2%;
}

#content80 {
	background: #fff;
	float:left;
	width:76%;
	box-shadow: 0px 0px 1px #555;
	padding: 2%;
	/*rder: 4px solid #3bdb19;*/
}

#content100 {
	background: #fff;
	float:left;
	width:96%;
	box-shadow: 0px 0px 1px #555;
	padding: 2%;
	margin-top: 1%;
}

.col-80{
	width: 80%;
	float:left;
	display: block;
}

.col-80-r{
	width: 80%;
	float:left;
	display: block;
	text-align: right;
}

.col-70{
	width: 70%;
	float:left;
	display: block;
}


.col-70-r{
	width: 70%;
	float:left;
	display: block;
	text-align: right;
}

.col-60{
	width: 60%;
	float:left;
	display: block;
	text-align: left;
}

.col-60-r{
	width: 60%;
	float:left;
	display: block;
	text-align: right;
}

.col-50{
	width: 50%;
	float:left;
	display: block;
	text-align: left;
}

.col-50-r{
	width: 50%;
	float:left;
	display: block;
	text-align: right;
}

.col-40{
	width: 40%;
	float:left;
	display: block;
	text-align: left;
}

.col-40-r{
	width: 40%;
	float:left;
	display: block;
	text-align: right;
}

.col-20{
	width: 20%;
	float:left;
	display: block;
}

.col-30{
	width: 30%;
	float:left;
	display: block;
}
.col-30-r{
	width: 30%;
	float:left;
	display: block;
	text-align: right;
}

.row{
	text-align: left;
	width: 100%;
	float:left;
	display: block;
}




/* Модальное окно*/

.modal-mask {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	display: table;
	transition: opacity .3s ease;
}

.modal-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.modal-container {
	width: 300px;
	margin: 0px auto;
	padding: 20px 30px;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	transition: all .3s ease;
	font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
	margin-top: 0;
	color: #42b983;
}

.modal-body {
	margin: 20px 0;
}

.modal-default-button {
	float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
	opacity: 0;
}

.modal-leave-active {
	opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}