
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
@import 'bootstrap';

@import 'main';

.banner-right .form-wrap {
    padding: 40px 30px;
    text-align: center;
}

.form-control {

}

.banner-right .form-wrap .form-control {
    padding: 0.675rem 0.75rem;
    font-size: 13px;
    font-weight: 300;
    border-radius: 0px;
    margin-bottom: 10px;
    border-color: #eee;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.example-2 .btn-tertiary{color:#555;padding:0;line-height:40px;margin:auto;display:block;border:2px solid #555}
.example-2 .btn-tertiary:hover,.example-2 .btn-tertiary:focus{color:#888;border-color:#888}
.example-2 .input-file{width:.1px;height:.1px;opacity:0;position:absolute;z-index:-1}
.example-2 .input-file + .js-labelFile{text-overflow:ellipsis;white-space:nowrap;cursor:pointer}

.btn-light {
  color: #212529;
  background-color: #ffffff;
  border-color: #dae0e5;
}

img{ max-width:100%;}

.image-edit{
    max-width: 24%;
    min-width: 140px;
  float: left;
  position: relative;
  margin: 4px;
}

.main-wrap{
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.main-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.images-show{
  white-space: nowrap;
  overflow: scroll hidden;
  width: 100%;
}

.chat-message-container{
  word-wrap: break-word;
  display: list-item;
}

.no-seen{
  background-color: #4fff3b;
  opacity: 0.5;
}

.menu-no-seen{
  float: left;
  width: 24px;
  border-radius: 10px;
  background-color: #4fff3b;
  opacity: 0.5;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  font-size: 100%;
}

.router-link-active {
  color: #3bdb19;
}


@media (max-width: 1000px) {
  .main-container {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}



#frame {
  width: 95%;
  min-width: 360px;
  max-width: 1000px;
  height: 92vh;
  min-height: 300px;
  max-height: 720px;
  background: #E6EAEA;
}
@media screen and (max-width: 360px) {
  #frame {
    width: 100%;
    height: 100vh;
  }
}
#frame #sidepanel {
  float: left;
  min-width: 280px;
  max-width: 340px;
  width: 40%;
  height: 100%;
  background: #2c3e50;
  color: #f5f5f5;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel {
    width: 58px;
    min-width: 58px;
  }
}
#frame #sidepanel #profile {
  width: 80%;
  margin: 25px auto;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile {
    width: 100%;
    margin: 0 auto;
    padding: 5px 0 0 0;
    background: #32465a;
  }
}
#frame #sidepanel #profile.expanded .wrap {
  height: 210px;
  line-height: initial;
}
#frame #sidepanel #profile.expanded .wrap p {
  margin-top: 20px;
}
#frame #sidepanel #profile.expanded .wrap i.expand-button {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
#frame #sidepanel #profile .wrap {
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  -moz-transition: 0.3s height ease;
  -o-transition: 0.3s height ease;
  -webkit-transition: 0.3s height ease;
  transition: 0.3s height ease;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap {
    height: 55px;
  }
}
#frame #sidepanel #profile .wrap img {
  width: 50px;
  border-radius: 50%;
  padding: 3px;
  border: 2px solid #e74c3c;
  height: auto;
  float: left;
  cursor: pointer;
  -moz-transition: 0.3s border ease;
  -o-transition: 0.3s border ease;
  -webkit-transition: 0.3s border ease;
  transition: 0.3s border ease;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap img {
    width: 40px;
    margin-left: 4px;
  }
}
#frame #sidepanel #profile .wrap img.online {
  border: 2px solid #2ecc71;
}
#frame #sidepanel #profile .wrap img.away {
  border: 2px solid #f1c40f;
}
#frame #sidepanel #profile .wrap img.busy {
  border: 2px solid #e74c3c;
}
#frame #sidepanel #profile .wrap img.offline {
  border: 2px solid #95a5a6;
}
#frame #sidepanel #profile .wrap p {
  float: left;
  margin-left: 15px;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap p {
    display: none;
  }
}
#frame #sidepanel #profile .wrap i.expand-button {
  float: right;
  margin-top: 23px;
  font-size: 0.8em;
  cursor: pointer;
  color: #435f7a;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap i.expand-button {
    display: none;
  }
}
#frame #sidepanel #profile .wrap #status-options {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 150px;
  margin: 70px 0 0 0;
  border-radius: 6px;
  z-index: 99;
  line-height: initial;
  background: #435f7a;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options {
    width: 58px;
    margin-top: 57px;
  }
}
#frame #sidepanel #profile .wrap #status-options.active {
  opacity: 1;
  visibility: visible;
  margin: 75px 0 0 0;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options.active {
    margin-top: 62px;
  }
}
#frame #sidepanel #profile .wrap #status-options:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #435f7a;
  margin: -8px 0 0 24px;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options:before {
    margin-left: 23px;
  }
}
#frame #sidepanel #profile .wrap #status-options ul {
  overflow: hidden;
  border-radius: 6px;
}
#frame #sidepanel #profile .wrap #status-options ul li {
  padding: 15px 0 30px 18px;
  display: block;
  cursor: pointer;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li {
    padding: 15px 0 35px 22px;
  }
}
#frame #sidepanel #profile .wrap #status-options ul li:hover {
  background: #496886;
}
#frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px 0 0 0;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
    width: 14px;
    height: 14px;
  }
}
#frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  margin: -3px 0 0 -3px;
  background: transparent;
  border-radius: 50%;
  z-index: 0;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
    height: 18px;
    width: 18px;
  }
}
#frame #sidepanel #profile .wrap #status-options ul li p {
  padding-left: 12px;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li p {
    display: none;
  }
}
#frame #sidepanel #profile .wrap #status-options ul li#status-online span.status-circle {
  background: #2ecc71;
}
#frame #sidepanel #profile .wrap #status-options ul li#status-online.active span.status-circle:before {
  border: 1px solid #2ecc71;
}
#frame #sidepanel #profile .wrap #status-options ul li#status-away span.status-circle {
  background: #f1c40f;
}
#frame #sidepanel #profile .wrap #status-options ul li#status-away.active span.status-circle:before {
  border: 1px solid #f1c40f;
}
#frame #sidepanel #profile .wrap #status-options ul li#status-busy span.status-circle {
  background: #e74c3c;
}
#frame #sidepanel #profile .wrap #status-options ul li#status-busy.active span.status-circle:before {
  border: 1px solid #e74c3c;
}
#frame #sidepanel #profile .wrap #status-options ul li#status-offline span.status-circle {
  background: #95a5a6;
}
#frame #sidepanel #profile .wrap #status-options ul li#status-offline.active span.status-circle:before {
  border: 1px solid #95a5a6;
}
#frame #sidepanel #profile .wrap #expanded {
  padding: 100px 0 0 0;
  display: block;
  line-height: initial !important;
}
#frame #sidepanel #profile .wrap #expanded label {
  float: left;
  clear: both;
  margin: 0 8px 5px 0;
  padding: 5px 0;
}
#frame #sidepanel #profile .wrap #expanded input {
  border: none;
  margin-bottom: 6px;
  background: #32465a;
  border-radius: 3px;
  color: #f5f5f5;
  padding: 7px;
  width: calc(100% - 43px);
}
#frame #sidepanel #profile .wrap #expanded input:focus {
  outline: none;
  background: #435f7a;
}
#frame #sidepanel #search {
  border-top: 1px solid #32465a;
  border-bottom: 1px solid #32465a;
  font-weight: 300;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #search {
    display: none;
  }
}
#frame #sidepanel #search label {
  position: absolute;
  margin: 10px 0 0 20px;
}
#frame #sidepanel #search input {
  font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
  padding: 10px 0 10px 46px;
  width: calc(100% - 25px);
  border: none;
  background: #32465a;
  color: #f5f5f5;
}
#frame #sidepanel #search input:focus {
  outline: none;
  background: #435f7a;
}
#frame #sidepanel #search input::-webkit-input-placeholder {
  color: #f5f5f5;
}
#frame #sidepanel #search input::-moz-placeholder {
  color: #f5f5f5;
}
#frame #sidepanel #search input:-ms-input-placeholder {
  color: #f5f5f5;
}
#frame #sidepanel #search input:-moz-placeholder {
  color: #f5f5f5;
}
#frame #sidepanel #contacts {
  height: calc(100% - 177px);
  overflow-y: scroll;
  overflow-x: hidden;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts {
    height: calc(100% - 149px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  #frame #sidepanel #contacts::-webkit-scrollbar {
    display: none;
  }
}
#frame #sidepanel #contacts.expanded {
  height: calc(100% - 334px);
}
#frame #sidepanel #contacts::-webkit-scrollbar {
  width: 8px;
  background: #2c3e50;
}
#frame #sidepanel #contacts::-webkit-scrollbar-thumb {
  background-color: #243140;
}
#frame #sidepanel #contacts ul li.contact {
  position: relative;
  padding: 10px 0 15px 0;
  cursor: pointer;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact {
    padding: 6px 0 46px 8px;
  }
}
#frame #sidepanel #contacts ul li.contact:hover {
  background: #32465a;
}
#frame #sidepanel #contacts ul li.contact.active {
  background: #32465a;
  border-right: 5px solid #435f7a;
}
#frame #sidepanel #contacts ul li.contact.active span.contact-status {
  border: 2px solid #32465a !important;
}
#frame #sidepanel #contacts ul li.contact .wrap {
  width: 88%;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact .wrap {
    width: 100%;
  }
}
#frame #sidepanel #contacts ul li.contact .wrap span {
  position: absolute;
  left: 0;
  margin: -2px 0 0 -2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #2c3e50;
  background: #95a5a6;
}
#frame #sidepanel #contacts ul li.contact .wrap span.online {
  background: #2ecc71;
}
#frame #sidepanel #contacts ul li.contact .wrap span.away {
  background: #f1c40f;
}
#frame #sidepanel #contacts ul li.contact .wrap span.busy {
  background: #e74c3c;
}
#frame #sidepanel #contacts ul li.contact .wrap img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact .wrap img {
    margin-right: 0px;
  }
}
#frame #sidepanel #contacts ul li.contact .wrap .meta {
  padding: 5px 0 0 0;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact .wrap .meta {
    display: none;
  }
}
#frame #sidepanel #contacts ul li.contact .wrap .meta .name {
  font-weight: 600;
}
#frame #sidepanel #contacts ul li.contact .wrap .meta .preview {
  margin: 5px 0 0 0;
  padding: 0 0 1px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-transition: 1s all ease;
  -o-transition: 1s all ease;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}
#frame #sidepanel #contacts ul li.contact .wrap .meta .preview span {
  position: initial;
  border-radius: initial;
  background: none;
  border: none;
  padding: 0 2px 0 0;
  margin: 0 0 0 1px;
  opacity: .5;
}
#frame #sidepanel #bottom-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
}
#frame #sidepanel #bottom-bar button {
  float: left;
  border: none;
  width: 50%;
  padding: 10px 0;
  background: #32465a;
  color: #f5f5f5;
  cursor: pointer;
  font-size: 0.85em;
  font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button {
    float: none;
    width: 100%;
    padding: 15px 0;
  }
}
#frame #sidepanel #bottom-bar button:focus {
  outline: none;
}
#frame #sidepanel #bottom-bar button:nth-child(1) {
  border-right: 1px solid #2c3e50;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button:nth-child(1) {
    border-right: none;
    border-bottom: 1px solid #2c3e50;
  }
}
#frame #sidepanel #bottom-bar button:hover {
  background: #435f7a;
}
#frame #sidepanel #bottom-bar button i {
  margin-right: 3px;
  font-size: 1em;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button i {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button span {
    display: none;
  }
}
#frame .content {
  float: right;
  width: 60%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 735px) {
  #frame .content {
    width: calc(100% - 58px);
    min-width: 300px !important;
  }
}
@media screen and (min-width: 900px) {
  #frame .content {
    width: calc(100% - 340px);
  }
}
#frame .content .contact-profile {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #f5f5f5;
}
#frame .content .contact-profile img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin: 9px 12px 0 9px;
}
#frame .content .contact-profile p {

}
#frame .content .contact-profile .social-media {
  float: right;
}
#frame .content .contact-profile .social-media i {
  margin-left: 14px;
  cursor: pointer;
}
#frame .content .contact-profile .social-media i:nth-last-child(1) {
  margin-right: 20px;
}
#frame .content .contact-profile .social-media i:hover {
  color: #435f7a;
}
#frame .content .messages {
  height: auto;
  min-height: calc(100% - 93px);
  max-height: calc(100% - 93px);
  overflow-y: scroll;
  overflow-x: hidden;
}
@media screen and (max-width: 735px) {
  #frame .content .messages {
    max-height: calc(100% - 105px);
  }
}
#frame .content .messages::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
#frame .content .messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
#frame .content .messages ul li {
  display: inline-block;
  clear: both;
  float: left;
  margin: 15px 15px 5px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}
#frame .content .messages ul li:nth-last-child(1) {
  margin-bottom: 20px;
}
#frame .content .messages ul li.sent img {
  margin: 6px 8px 0 0;
}
#frame .content .messages ul li.sent p {
  background: #435f7a;
  color: #f5f5f5;
}
#frame .content .messages ul li.replies img {
  float: right;
  margin: 6px 0 0 8px;
}
#frame .content .messages ul li.replies p {
  background: #f5f5f5;
  float: right;
}
#frame .content .messages ul li img {
  width: 22px;
  border-radius: 50%;
  float: left;
}
#frame .content .messages ul li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 205px;
  line-height: 130%;
}
@media screen and (min-width: 735px) {
  #frame .content .messages ul li p {
    max-width: 300px;
  }
}
#frame .content .message-input {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 99;
}
#frame .content .message-input .wrap {
  position: relative;
}
#frame .content .message-input .wrap input {
  font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
  float: left;
  border: none;
  width: calc(100% - 90px);
  padding: 11px 32px 10px 8px;
  font-size: 0.8em;
  color: #32465a;
}
@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap input {
    padding: 15px 32px 16px 8px;
  }
}
#frame .content .message-input .wrap input:focus {
  outline: none;
}
#frame .content .message-input .wrap .attachment {
  position: absolute;
  right: 60px;
  z-index: 4;
  margin-top: 10px;
  font-size: 1.1em;
  color: #435f7a;
  opacity: .5;
  cursor: pointer;
}
@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap .attachment {
    margin-top: 17px;
    right: 65px;
  }
}
#frame .content .message-input .wrap .attachment:hover {
  opacity: 1;
}
#frame .content .message-input .wrap button {
  float: right;
  border: none;
  width: 90px;
  padding: 1px 0;
  cursor: pointer;
  background: #32465a;
  color: #f5f5f5;
}
@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap button {
    padding: 6px 0;
  }
}
#frame .content .message-input .wrap button:hover {
  background: #435f7a;
}
#frame .content .message-input .wrap button:focus {
  outline: none;
}

.round {
    border-radius: 100%; /* Радиус скругления */
    box-shadow: 0 0 7px #666; /* Параметры тени */
}
@font-face {
    font-family: 'Linearicons-Free';
    src:url('/fonts/Linearicons-Free.eot?w118d');
    src:url('/fonts/Linearicons-Free.eot?#iefixw118d') format('embedded-opentype'),
    url('/fonts/Linearicons-Free.woff2?w118d') format('woff2'),
    url('/fonts/Linearicons-Free.woff?w118d') format('woff'),
    url('/fonts/Linearicons-Free.ttf?w118d') format('truetype'),
    url('/fonts/Linearicons-Free.svg?w118d#Linearicons-Free') format('svg');
    font-weight: normal;
    font-style: normal;
}

.lnr {
    font-family: 'Linearicons-Free';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.lnr-home:before {
    content: "\e800";
}
.lnr-apartment:before {
    content: "\e801";
}
.lnr-pencil:before {
    content: "\e802";
}
.lnr-magic-wand:before {
    content: "\e803";
}
.lnr-drop:before {
    content: "\e804";
}
.lnr-lighter:before {
    content: "\e805";
}
.lnr-poop:before {
    content: "\e806";
}
.lnr-sun:before {
    content: "\e807";
}
.lnr-moon:before {
    content: "\e808";
}
.lnr-cloud:before {
    content: "\e809";
}
.lnr-cloud-upload:before {
    content: "\e80a";
}
.lnr-cloud-download:before {
    content: "\e80b";
}
.lnr-cloud-sync:before {
    content: "\e80c";
}
.lnr-cloud-check:before {
    content: "\e80d";
}
.lnr-database:before {
    content: "\e80e";
}
.lnr-lock:before {
    content: "\e80f";
}
.lnr-cog:before {
    content: "\e810";
}
.lnr-trash:before {
    content: "\e811";
}
.lnr-dice:before {
    content: "\e812";
}
.lnr-heart:before {
    content: "\e813";
}
.lnr-star:before {
    content: "\e814";
}
.lnr-star-half:before {
    content: "\e815";
}
.lnr-star-empty:before {
    content: "\e816";
}
.lnr-flag:before {
    content: "\e817";
}
.lnr-envelope:before {
    content: "\e818";
}
.lnr-paperclip:before {
    content: "\e819";
}
.lnr-inbox:before {
    content: "\e81a";
}
.lnr-eye:before {
    content: "\e81b";
}
.lnr-printer:before {
    content: "\e81c";
}
.lnr-file-empty:before {
    content: "\e81d";
}
.lnr-file-add:before {
    content: "\e81e";
}
.lnr-enter:before {
    content: "\e81f";
}
.lnr-exit:before {
    content: "\e820";
}
.lnr-graduation-hat:before {
    content: "\e821";
}
.lnr-license:before {
    content: "\e822";
}
.lnr-music-note:before {
    content: "\e823";
}
.lnr-film-play:before {
    content: "\e824";
}
.lnr-camera-video:before {
    content: "\e825";
}
.lnr-camera:before {
    content: "\e826";
}
.lnr-picture:before {
    content: "\e827";
}
.lnr-book:before {
    content: "\e828";
}
.lnr-bookmark:before {
    content: "\e829";
}
.lnr-user:before {
    content: "\e82a";
}
.lnr-users:before {
    content: "\e82b";
}
.lnr-shirt:before {
    content: "\e82c";
}
.lnr-store:before {
    content: "\e82d";
}
.lnr-cart:before {
    content: "\e82e";
}
.lnr-tag:before {
    content: "\e82f";
}
.lnr-phone-handset:before {
    content: "\e830";
}
.lnr-phone:before {
    content: "\e831";
}
.lnr-pushpin:before {
    content: "\e832";
}
.lnr-map-marker:before {
    content: "\e833";
}
.lnr-map:before {
    content: "\e834";
}
.lnr-location:before {
    content: "\e835";
}
.lnr-calendar-full:before {
    content: "\e836";
}
.lnr-keyboard:before {
    content: "\e837";
}
.lnr-spell-check:before {
    content: "\e838";
}
.lnr-screen:before {
    content: "\e839";
}
.lnr-smartphone:before {
    content: "\e83a";
}
.lnr-tablet:before {
    content: "\e83b";
}
.lnr-laptop:before {
    content: "\e83c";
}
.lnr-laptop-phone:before {
    content: "\e83d";
}
.lnr-power-switch:before {
    content: "\e83e";
}
.lnr-bubble:before {
    content: "\e83f";
}
.lnr-heart-pulse:before {
    content: "\e840";
}
.lnr-construction:before {
    content: "\e841";
}
.lnr-pie-chart:before {
    content: "\e842";
}
.lnr-chart-bars:before {
    content: "\e843";
}
.lnr-gift:before {
    content: "\e844";
}
.lnr-diamond:before {
    content: "\e845";
}
.lnr-linearicons:before {
    content: "\e846";
}
.lnr-dinner:before {
    content: "\e847";
}
.lnr-coffee-cup:before {
    content: "\e848";
}
.lnr-leaf:before {
    content: "\e849";
}
.lnr-paw:before {
    content: "\e84a";
}
.lnr-rocket:before {
    content: "\e84b";
}
.lnr-briefcase:before {
    content: "\e84c";
}
.lnr-bus:before {
    content: "\e84d";
}
.lnr-car:before {
    content: "\e84e";
}
.lnr-train:before {
    content: "\e84f";
}
.lnr-bicycle:before {
    content: "\e850";
}
.lnr-wheelchair:before {
    content: "\e851";
}
.lnr-select:before {
    content: "\e852";
}
.lnr-earth:before {
    content: "\e853";
}
.lnr-smile:before {
    content: "\e854";
}
.lnr-sad:before {
    content: "\e855";
}
.lnr-neutral:before {
    content: "\e856";
}
.lnr-mustache:before {
    content: "\e857";
}
.lnr-alarm:before {
    content: "\e858";
}
.lnr-bullhorn:before {
    content: "\e859";
}
.lnr-volume-high:before {
    content: "\e85a";
}
.lnr-volume-medium:before {
    content: "\e85b";
}
.lnr-volume-low:before {
    content: "\e85c";
}
.lnr-volume:before {
    content: "\e85d";
}
.lnr-mic:before {
    content: "\e85e";
}
.lnr-hourglass:before {
    content: "\e85f";
}
.lnr-undo:before {
    content: "\e860";
}
.lnr-redo:before {
    content: "\e861";
}
.lnr-sync:before {
    content: "\e862";
}
.lnr-history:before {
    content: "\e863";
}
.lnr-clock:before {
    content: "\e864";
}
.lnr-download:before {
    content: "\e865";
}
.lnr-upload:before {
    content: "\e866";
}
.lnr-enter-down:before {
    content: "\e867";
}
.lnr-exit-up:before {
    content: "\e868";
}
.lnr-bug:before {
    content: "\e869";
}
.lnr-code:before {
    content: "\e86a";
}
.lnr-link:before {
    content: "\e86b";
}
.lnr-unlink:before {
    content: "\e86c";
}
.lnr-thumbs-up:before {
    content: "\e86d";
}
.lnr-thumbs-down:before {
    content: "\e86e";
}
.lnr-magnifier:before {
    content: "\e86f";
}
.lnr-cross:before {
    content: "\e870";
}
.lnr-menu:before {
    content: "\e871";
}
.lnr-list:before {
    content: "\e872";
}
.lnr-chevron-up:before {
    content: "\e873";
}
.lnr-chevron-down:before {
    content: "\e874";
}
.lnr-chevron-left:before {
    content: "\e875";
}
.lnr-chevron-right:before {
    content: "\e876";
}
.lnr-arrow-up:before {
    content: "\e877";
}
.lnr-arrow-down:before {
    content: "\e878";
}
.lnr-arrow-left:before {
    content: "\e879";
}
.lnr-arrow-right:before {
    content: "\e87a";
}
.lnr-move:before {
    content: "\e87b";
}
.lnr-warning:before {
    content: "\e87c";
}
.lnr-question-circle:before {
    content: "\e87d";
}
.lnr-menu-circle:before {
    content: "\e87e";
}
.lnr-checkmark-circle:before {
    content: "\e87f";
}
.lnr-cross-circle:before {
    content: "\e880";
}
.lnr-plus-circle:before {
    content: "\e881";
}
.lnr-circle-minus:before {
    content: "\e882";
}
.lnr-arrow-up-circle:before {
    content: "\e883";
}
.lnr-arrow-down-circle:before {
    content: "\e884";
}
.lnr-arrow-left-circle:before {
    content: "\e885";
}
.lnr-arrow-right-circle:before {
    content: "\e886";
}
.lnr-chevron-up-circle:before {
    content: "\e887";
}
.lnr-chevron-down-circle:before {
    content: "\e888";
}
.lnr-chevron-left-circle:before {
    content: "\e889";
}
.lnr-chevron-right-circle:before {
    content: "\e88a";
}
.lnr-crop:before {
    content: "\e88b";
}
.lnr-frame-expand:before {
    content: "\e88c";
}
.lnr-frame-contract:before {
    content: "\e88d";
}
.lnr-layers:before {
    content: "\e88e";
}
.lnr-funnel:before {
    content: "\e88f";
}
.lnr-text-format:before {
    content: "\e890";
}
.lnr-text-format-remove:before {
    content: "\e891";
}
.lnr-text-size:before {
    content: "\e892";
}
.lnr-bold:before {
    content: "\e893";
}
.lnr-italic:before {
    content: "\e894";
}
.lnr-underline:before {
    content: "\e895";
}
.lnr-strikethrough:before {
    content: "\e896";
}
.lnr-highlight:before {
    content: "\e897";
}
.lnr-text-align-left:before {
    content: "\e898";
}
.lnr-text-align-center:before {
    content: "\e899";
}
.lnr-text-align-right:before {
    content: "\e89a";
}
.lnr-text-align-justify:before {
    content: "\e89b";
}
.lnr-line-spacing:before {
    content: "\e89c";
}
.lnr-indent-increase:before {
    content: "\e89d";
}
.lnr-indent-decrease:before {
    content: "\e89e";
}
.lnr-pilcrow:before {
    content: "\e89f";
}
.lnr-direction-ltr:before {
    content: "\e8a0";
}
.lnr-direction-rtl:before {
    content: "\e8a1";
}
.lnr-page-break:before {
    content: "\e8a2";
}
.lnr-sort-alpha-asc:before {
    content: "\e8a3";
}
.lnr-sort-amount-asc:before {
    content: "\e8a4";
}
.lnr-hand:before {
    content: "\e8a5";
}
.lnr-pointer-up:before {
    content: "\e8a6";
}
.lnr-pointer-right:before {
    content: "\e8a7";
}
.lnr-pointer-down:before {
    content: "\e8a8";
}
.lnr-pointer-left:before {
    content: "\e8a9";
}




